* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    position: sticky;
    z-index: 1;
}

header div {
    background-color: #1CD1B0;
    width: 100%;
    height: 38px;
    padding: 10px 30px;
    font-size: 15px;
    z-index: 1;
    position: fixed; 
}

header nav {
    background-color: #00669F;
    width: 100%;
    height: 100px;
    font-size: 40px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    z-index: 1;
    position: fixed;
    top: 38px;
}

nav h1 {
    padding: 10px 30px;
    
}

/* Main */

main {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 200px;
}

.container {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 3em auto;
    gap: 10px;
    width: 300px;   
  
}

.container h2 {
    padding-top: 2em;
    font-size: 30px;
}

.container p {
    padding: 20px;
}

.wallpaper {
    border-radius: 16px 16px 0px 0px;
}

.like {
    position: absolute;
    display: flex;
    padding: 1em;
   
}

.perfil {
    border-radius: 50%;
    position: absolute;
    padding: 90px;
    margin: 40px 0;   
}

main button {
    background-color: #00669F;
    color: #F3F3F3;
    width: 129px;
    height: 48px;
    border-style: none;
    cursor: pointer;
    margin: 1em auto;
}

/* Footer */
footer {
    background-color: #00669F;
    height: 51px;
    display: flex;
    align-items: center;    
}

footer p {
    color: white;
   
}